/* COMMON CSS Document */

@font-face {
    font-family: AvenirNextLTPro-DemiCn;
    src:url(../../font/AvenirNextLTPro-DemiCn.otf);
}
@font-face {
    font-family: AvenirNextLTPro-MediumCn;
    src:url(../../font/AvenirNextLTPro-MediumCn.otf);
}
@font-face {
    font-family: AvenirNextLTPro-MediumCn;
    src:url(../../font/AvenirNextLTPro-MediumCn.ttf);
}


/*清除浮动代码*/ 
.clear:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clear{zoom:1} 
h1, h2, dl, dt, dd,p,ul,li{
    margin: 0;
    padding: 0;
}
body {
	margin:0;
	padding:0;
	background-size: cover;
	background-attachment: fixed;
    color: #b0d4b4;
    font: 11px Tahoma,Arial,sans-serif;
    //font: 11px 'Microsoft YaHei',Tahoma,Arial,sans-serif;
    background-color: #0b270e;
    width: 100%;
}
html, body {
    font: 11px 'Microsoft YaHei';
}
a{
    opacity: 1;
    filter:alpha(opacity=100);
    display: block;
    text-decoration: none;
}
a:hover{
    opacity:0.9;
    filter:alpha(opacity=90);
    text-decoration: none;
}
li{
    list-style: none;
}

#nav{ position:relative;width:100%; z-index: 99;}

/*******************
    HEADER
*******************/
header{
    width: 100%;
    background: #b9b9b9 url('../images/bg/v3_bg_template.gif') repeat-x 0 0;
    height: 130px;
    position: absolute;
    top: 0;
}
#header{
    width: 960px;
    margin: auto;
    position: relative;
    font-size: 11px;
}
.head-top {
    height: 92px;
    background: #16501d url('../images/bg/v3_bg_head.jpg') no-repeat 0 0;
}

.head-logo{
    width: 100%;
    max-width: 230px;
}
.head-logo,
.head-animated{
    float: left;
}
.head-animated-logo{
    display: none;
}
.head-login{
    float: right;
    margin-top: 11px;
}
.head-login ul{}
.head-login ul li{
    float: left;
}
.head-login .head-join-now{
    width: 78px;
    height: 19px;
    display: block;
    background: #fc7400 url('../images/bg/bg_button.gif') repeat-x 0 0;
    border: 1px solid #fd600d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.head-join-now a{
    color: #fff!important;
}
 
.head-btn {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 19px;
}


.head-nav {
    top: -1px;
    width: 100%;
    background: url('../images/bg/v3_bg_template.gif') repeat-x scroll 0px -93px #B9B9B9;
    height: 60px;
    height: 36px;
    padding: 0;
    overflow-y: hidden;
    height: 37px;
    position: relative;
    float: left;
}
.head-nav ul{
    width: 960px;
    margin:0 auto;
    position: relative;
}
.head-loginbox .login-code {
    width: 60px;
}
.username.form-text, .password.form-text, .login-code.form-text {
    margin: 0 0 0 5px;
}
.form-text {
    width: 100px;
    height: auto //21px;
    display: block;
    float: left;
    background-color: #bedba1;
    border: #b5b5b5 1px solid;
    color: #333;
    font: 12px Tahoma,Arial,sans-serif;
    margin: 0;
    padding: 3px 3px 2px 3px;
}
.captcha-img{
    margin: 0 5px 0 5px;
    width: 60px;
    height: 21px;
}

#btnLogin {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#btnLogin {
    background: #41a517 url('../images/bg/bg_button.gif') repeat-x 0 -50px;
    border: 1px solid #41a517;
    color: #fff;
    font: bold 12px Tahoma,Arial,sans-serif;
    width: 80px;
    height: 21px;
    cursor: pointer;
    text-transform: uppercase;
    float: right;
}
#txtValCode{
    width: 60px;
}
.head-tip{
    height: 26px;
   // width: 520px;
    position: relative;
    top: 6px;
    z-index: 98;
    overflow: hidden;
    line-height: 16px;
    font-size: 11px;
    float: right;
    padding-left: 10px;
    white-space: nowrap;
}
.head-tip a{
    color: #b0d4b4;    
}
.head-tip a:link, .head-tip a:visited{
    color: #b0d4b4;    
}
.head-tip a:hover{
    color: #fff;
}
.head-subnav {
    height: 28px;
    top: 2px;
}
.head-subnav {
    float: right;
    height: 28px;
    width: 520px;
    position: relative;
    top: 2px;
    z-index: 97;
    overflow: hidden;
    line-height: 26px;
    color: #666;
    font-size: 11px;
}
.head-menu {
    float: right;
    height: 27px;
    width: auto;
    background: url('../images/bg/bg_template.gif') no-repeat left -100px;
    padding: 0 8px 0 10px;
}
.head-menu a{
       color: #666666;
       display: inline-block;
}
.head-menu a:hover{
    color: #fd5e0a;
}
.head-menu span {
    padding: 0 2px;
}
.head-subnav .end {
    width: 15px;
}
.head-subnav .end {
    float: right;
    height: 27px;
    width: 15px;
    background: url('../images/bg/bg_template.gif') no-repeat right -100px;
}
.head-lang {
    padding-left: 5px;
}
.head-lang {
    float: right;
    height: 27px;
    width: auto;
    background: url('../images/bg/bg_template.gif') no-repeat left -150px;
    color: #000;
}
.head-lang dd:hover{
    background-color: #ff9900;
    cursor: pointer;
}
.head-lang .lang {
    display: none;
}
.head-lang .lang {
    float: left;
    padding-left: 10px;
}
#slang {
    width: auto;
    height: 25px;
    float: left;
    margin: 5px 0 0 2px;
}
#slang dd {
    float: left;
    width: 24px;
    height: 17px;
    background-image: url('../images/bg/bg_lang_flag.gif');
    background-repeat: no-repeat;
}
.slang-id-ID {
    background-position: 2px -188px;
}
.slang-en-US {
    background-position: 2px -8px;
}
.slang-vi-VN {
    background-position: 2px -38px;
}

.head-nav li {
    float: left;
}
.head-nav li span{
    width: 19px;
    height: 11px;
    position: absolute;
    right: 48.6%;
    top: 2px;
    display: block;
}
.head-nav li a{
    text-transform: uppercase;
    white-space: nowrap;
    color: #020202;
    font:bold 12px Tahoma,Arial,sans-serif;
    padding: 0 10px;
    display: block;
     height: 36px;
    line-height: 36px;
    text-align: center!;
    text-decoration: none;
}
.head-nav .live-chat a:hover{
    background: none;
}
.head-nav li a:hover {
     display: block;
    color: #020202;
    text-decoration: none;
    background: url('../images/bg/v3_bg_button.gif') no-repeat center bottom;
}
.head-nav .line {
    //width: 2px;
    background: url('../images/bg/v3_bg_template.gif') no-repeat 0 -200px;
    padding: 0;
}
.live-chat{
    background: url('../images/_en/header_livechat.gif') no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}
.live-chat a{
    width: 82px;
    height: 34px;
    display: block;
    margin: 0;
} 
.clicks,.notes{
    display: none;
}
#ticker .date {
    width: 230px;
    float: left;
    margin-left: 12px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}
#ticker p {
    height: 16px;
    line-height: 16px;
    margin-top: 6px;
    overflow: hidden;
}
#ticker .time span {
    padding-right: 5px;
}
.new {
    background: url('../images/v3_new.gif') no-repeat 0 -14px;
    width: 21px;
    height: 14px;
}
.new-item{
    padding: 0 0 0 10px!important;
}

/*******************
    CONTENT
*******************/
 .content {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}
.content-main{
    width: 960px;
    margin: 0 auto;
}
.ui-widget-content {
    z-index: 1002;
    height: auto;
    min-height: 400px;
    height: 400px;
    width: 600px!important;
    color: #312e25;
    background: url(../images/bg/ui-bg_highlight-hard_2x400.png) 50% 50% repeat-x;
}
.ui-dialog .ui-dialog-titlebar{
    margin: 0 0 0 5px;
    padding-left: 25px;
    background: url(../images/ci-icons.png) no-repeat left center;
    line-height: 16px;
    color: #008000;
    font-size: 14px;
}
#dialog p{
    color: #312e25!important;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 1.1em;
    padding: 10px 30px  10px 10px!important;
}
#nav{ position:relative;width:100%; z-index: 99;}
/** popup video **/
.cf:after,.log2 li:after,.log2 li div:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
.cf,.log2 li,.log2 li div{zoom:1;}
.v_box{width: 674px;height: 470px;background:#fff;position:fixed;top:50%;left:50%;z-index:522222;margin-top:-305px;margin-left:-350px;border-radius:5px;box-shadow: #333 0px 0px 10px;_position:absolute;*border:1px solid #333;border:1px solid #333\0;display:none;}
.v_box h3{color:#333;height:16px;font-size:18px;padding-left:28px;line-height:46px;overflow:hidden;font-weight:bold;}
.v_box div {
    width: 675px;
    height: 450px;
    margin: 0 auto;
    background: #000;
}
.shut{
    position: absolute;
    width: 45px;
    height: 20px;
    display: block;
    top: 2px;
    right: 2px;
    color: #333;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.shut:hover{text-decoration:none;color:#f00;}
.shut:active{color:#a40606;}
.h1::after{position: absolute;content:'';display: block;height: 6px;width: 220px;border-top:4px dotted #D6D6D6;left: 154px;top: 9px;}
.li7 span{margin-right:-2px;}

/************ Carousel *************/
 
.tabs{position:relative;width:960px;margin:0 auto;font: 11px 'AvenirNextLTPro-MediumCn',Tahoma,Arial,sans-serif;}
.tabs a{text-decoration:none;}
.tabs h3 {
	/*font:18px 'AvenirNextLTPro-MediumCn';*/
	font-size:18px;
	font-family: AvenirNextLTPro-MediumCn, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.right-part-btn a,.left-part-btn  a{ text-align: center; width: 204px; height: 62px; font-size:22px; text-shadow:1px 1px 5px #000; display: block;line-height: 50px;text-decoration: none;}
.right-part-btn a{background: url(../images/download.png) no-repeat;}
.left-part-btn  a{background: url(../images/play-now.png) no-repeat; text-transform: uppercase;}
.mid-part-btn  a{background: url(../images/play-now2.png) no-repeat;    width: 234px; }


.prev:hover,.next:hover{opacity: 0.6;fiter:alpha(opacity=60;);}
.prev:active,.next:active{opacity: 1;fiter:alpha(opacity=100;);}



.img-content{
    position: absolute;
    z-index: 11;
    top: 0;
    left: 5%;
    right: 5%;
    height: 500px;
}

.img-content .left-part{
    width: 33%;
    float: left;
    margin-top:0;
}
.left-part img{
    display: block;
    margin: 0 auto;
}

.img-content .right-part{
    float: right;
    margin-top: 8%;
}
.img-content .right-part img{
    border:2px solid #44f955;
    border-radius:3px;
}
.left-part-btn{position: absolute; bottom: 0; left:  23%;}
.right-part-btn{position: absolute; bottom: 0; right:24.5%;text-transform: uppercase;}
.left-part-btn,.left-part-btn{position: absolute; bottom: 0; left: 25%;}
.mid-part-btn{left: 38%;}
.left-part h3 {
     font: 18px 'AvenirNextLTPro-MediumCn'; 
    font-size: 18px;
    //font-family: AvenirNextLTPro-MediumCn, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}






/****** prod-list *******/
/*.prod-list{
    margin-top: 80px;
}*/
.prod-list ul{
    padding: 0 4%;
}
.prod-list li{
    width: 250px;
    height: 260px;
    background-color: #0A3E0F;
    border:1px solid #44f955;
    border-radius: 5px;
    float: left;
    margin:0 0 3% 4%;
    transition: all 0s ease 0s;
}

.prod-list li h2{
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    font-size:18px;
    color: #44f955;
}
.prod-list .prod-img{
    text-align: center;
}
 
.prod-list .btn{
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.prod-list .btn a{
    background: url(../images/prod-list-btn.gif) 0 0 no-repeat;
    display: block;
    height: 30px;
    width: 229px;
    margin: 10px auto;
    font:20px/30px 'AvenirNextLTPro-MediumCn', Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 4px #FF0000;
     transition: all 0s ease 0s;
}
.prod-list .btn a:hover{
    background-position: 0 -30px;
    color: #fff;
}
.prod-list .howPlay
{
    height: 13px;
    line-height: 13px;
    padding: 10px 12px;
}
.prod-list .howPlay a{
    text-decoration: underline;
    background: url(../images/prod-list-bg.png)  0 -14px no-repeat;
    padding-left: 20px;
    padding-top: -2px;
    float: right;
    vertical-align: middle;
    line-height: 13px;
    color: #44F955;
    font:12px 'AvenirNextLTPro-MediumCn', Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: block;
}

.prod-list li:hover{
    background-color: #198224;
    border:1px solid #d4b506;
    transition: all 0.8s ease 0s;
}
.prod-list li:hover h2{
    color: #fff;
}
.prod-list li:hover .btn a{
    background-position: 0 -30px;
    transition: all 0.5s ease 0s;
}
.prod-list li:hover .howPlay a{
    color: #fff;
    background-position: 0px 1.5px;
}
      


/*******************
FOOTER
*******************/
 footer {
    width: 100%;
    /* background: #0b270e url('../images/bg/v3_bg_template.gif?v=20150820.1') repeat-x 0 -250px; */
    height: auto;
}
footer {
    width: 100%;
    background: #0b270e url('../images/bg/v3_bg_template.gif') repeat-x 0 -250px;
    height: auto;
}
#footer {
    width: auto;
    position: relative;
    font-size: 11px;
}
#footer {
    width: 960px;
    margin: auto;
}


.foot-block {
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color: #999;
}
.foot-block {
    color: #556857;
    text-align: left;
}

.foot-menu {
    height: 37px;
    line-height: 36px;
    padding: 23px 0 0 5px;
    background: url('../images/v3_icon_18.gif') no-repeat right 0;
}
.foot-menu a{
    display: inline-block;
}
.foot-block a:link, .foot-block a:visited {
    color: #548559;
    text-decoration: none;
}
.foot-menu span {
    padding: 0;
}
.foot-partner {
    height: 65px;
    line-height: 63px;
    padding: 0;
    border: 0;
    //text-align: left;
}
.foot-partner img{
    float: left;
}
/*     .foot-partner img{
        max-width:960px;
        max-height:63px;
        width: 100%;
        height: auto;
     }*/
.foot-partner {
    //border-top: #999 1px solid;
    padding: 0px 0 5px 0;
    text-align: center;
   // overflow: hidden;
}
.foot-logos img {
    border: 0;
    margin: 0 5px;
    vertical-align: middle;
}
.foot-copy {
    padding: 8px 5px;
    border: 0 solid #548559;
    border-width: 0 0 0 0;
    text-align: center;
}
.foot-copy {
    font-size: 11px;
}
.foot-copy a{
    display: inline-block;
}

.foot-copy span {
    padding: 5px;
}

.foot-menu a:hover,
.foot-copy a:hover{
    color: #fff;
}
#home-footer{
    border-top:#1c4321 1px solid;
    color:#415d45
}
.foot-sitemap{
    width:960px;
    margin:auto
}
.foot-sitemap a:link,.foot-sitemap a:visited{
    color:#415d45;
    text-decoration:none
}
.foot-sitemap a:active,.foot-sitemap a:hover{
    color:#6ea174;
    text-decoration:none
}
.foot-sitemap dl{
    width:150px;
    float:left;
    padding:10px 10px 15px 30px
}
.foot-sitemap dl dt{
    height:25px;
    line-height:25px;
    font-size:12px;
    font-weight:bold
}
    .foot-sitemap dl dd{
        height:18px;
        line-height:18px
}
.logo-animated{
    float:left
}

/***** itrIDLiveHelp *******/
#itrIDLiveHelp{
    width:145px;
    height:400px;
    position:absolute;
    right:0;top:0;
    z-index:999998
}
#itrIDLiveHelp img{
    display:block
}
#itrIDLiveClose{
    width:15px;
    height:14px;
    position:relative;
    left:124px;
    top:-308px;
    z-index:999999;
    cursor:pointer
}
.hide{
    display:none;
}
.pCasino #main-banner img{
    display:block;
}

/* NEW ADD 2016-01-28 */
.multiTable {
    position: absolute;
    left: -25px;
    top: 268px;
    z-index: 97; 
}
.multiTable li {
    display: inline-block;
    text-align: center;
    width: 110px;
    position: relative;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.multiTable li:first-child {
    background: url(../images/table-baccarat.png) no-repeat top center;
    width: 110px;
    height: 110px;  
}
.multiTable li:first-child:hover {
    background: url(../images/table-baccarat-h.png) no-repeat top center;
    width: 110px;
    height: 110px; 
}
.multiTable li:nth-child(2) {
    background: url(../images/table-SicBo.png) no-repeat top center;
    width: 110px;
    height: 110px; 
}
.multiTable li:nth-child(2):hover {
    background: url(../images/table-SicBo-h.png) no-repeat top center;
    width: 110px;
    height: 110px; 
}
.multiTable li:nth-child(3) {
    background: url(../images/table-dragon.png) no-repeat top center;
    width: 110px;
    height: 110px; 
    overflow: visible;
}
.multiTable li:nth-child(3):hover {
    background: url(../images/table-dragon-h.png) no-repeat top center;
    width: 110px;
    height: 110px; 
}
.multiTable li:hover > a {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #fff;
    /*text-shadow: 0 0 1px #666, 0 0 2px #666;
    -webkit-transition: text-shadow 250ms ease-in 0ms, color 250ms ease-in 0ms;
    -moz-transition: text-shadow 250ms ease-in 0ms, color 250ms ease-in 0ms;
    -ms-transition: text-shadow 250ms ease-in 0ms, color 250ms ease-in 0ms;
    -o-transition: text-shadow 250ms ease-in 0ms, color 250ms ease-in 0ms;
    transition: text-shadow 250ms ease-in 0ms, color 250ms ease-in 0ms;*/
}
.multiTable li a {
    width: 78px;
    text-decoration: none;
    position: absolute;
    overflow: visible;
    bottom: -26px;
    left: 0;
    color: #44f955;
    /*text-shadow: 0 0 2px #fff;*/
    font-size: 14px;
    border:1px solid #44f955;
    background: #000;
    opacity: .7;
    filter:alpha(opacity=70);
    border-radius: 30px;
    padding:4px 10px;
}
.img-content {
    top: -30px;    
    height: 535px;
}
.img-content .left-part{
    width: 34%; 
}




/********************************
RESPONSIVE
*********************************/
@media only screen and (max-width: 960px) {
    /**** header ****/
    #header{
        width: 100%;
    }
	.head-login{
        width:45%;
    }
    .head-login ul li {
        margin-bottom: 5px;
    }
    .head-tip {
        top: -65%;
        padding-left: 73%;
        float: none;
    }
     .head-subnav {
        float: none;
        top: 2%;
        right: 10.5%;
    }
    .head-nav{
        width: 65%;
        left: 0;
    }
    .live-chat {
        position: static; 
    }


    .content-main {
        width: 100%;
        margin: 0px auto;
    }

    #ticker{
        width: 100%;
    }


     /**** footer ****/
     #footer{
        width: 100%;
     }
     .foot-partner{
        height: auto;
        line-height:0;
     }
     .foot-partner img{
/*        max-width:960px;
        max-height:63px;
        width: 100%;
        height: auto;*/
        float: none;
     }

     .foot-sitemap{
        width: 100%;
     }
     .foot-sitemap dl{
        width: auto;
     }


}
@media only screen and (max-width: 908px) {
    .head-subnav {
        float: none;
        top: -36%;
        right: -30.5%;
    }
    #ticker{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    /**** header ****/
    .head-nav {
        width: 100%;
        float: none;
        height: 2px;
    }
    .head-top {
          height: auto;
          width: 100%;
          margin: 0 auto;
          text-align: center;
    }
    .head-logo, .head-animated {
        display: none;
    }
    .head-animated-logo{
        display: block;
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    .head-login{
        width: 100%; 
    }
    .head-subnav{
        right:0;
        left: 0;
        width: 100%;
        float: left;
    }
	.clicks,.notes{
         display: block;
    }
    .head-nav ul{
        display: none;
    }
    .clicks {
        display: block;
        width: 100%;
        text-align: left;
        background: #304266;
        cursor: pointer;
        padding: 8px 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #5978af;
        color: #fff;
    }
    .notes {
        display: none;
        margin: 0;
        background: #fff;
    }
    .notes .items:first-child {
        border-top: 1px solid #11192c !important;
    }
    .notes .items {
        padding: 10px 10px;
        background: #304266;
        border-bottom: 1px solid #eee;
    }
    .notes .items a {
        text-decoration: none;
        color: #fff;
    }
    .live-chat {
        right: 10%;
        bottom: 26%;
    }


     /**** footer ****/


     .foot-partner img {
        max-width: 100%;
       // max-height: 63px;
        width: 100%;
        height: auto;
    }

}

@media only screen and (max-width: 540px) {
    /**** header ****/
	.head-logo img,
    .head-animated img{
        width: 100%;
        max-height:92px; 
        height: auto;
    }
    .head-top  img{
        max-width: 388px;
        width: 100%;
        height: auto;
    }
    .head-subnav{
        width: 100%;
        min-width: 320px;
        text-align: center;
    }
    .head-menu {
         float: none; 
    }
    .head-login, .head-tip,.live-chat{
        display: none;
    }
